<div class="container">
    <h1>Powering Up Angular with NGRX</h1>
    <nav>
      <a routerLink="/rxjs" routerLinkActive="active">RxJS</a> | 
      <a routerLink="/redux" routerLinkActive="active">Redux</a> | 
      <a routerLink="/ngrx" routerLinkActive="active">NGRX</a>
    </nav>
    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <router-outlet></router-outlet>
      </div>
      <div class="col-sm-12 col-md-6">
        <br/>
        <app-logger></app-logger>
      </div>
    </div>
    
</div>