/* You can add global styles to this file, and also import other style files */

pre {
  font-size: 16px;
}

app-tic-toc>.row.highlight {
  border: 2px solid goldenrod;
}

.highlight app-tic>.wrapper,
.highlight app-toc>.wrapper
{
  border: 2px solid blue;
}
